<h3>Child app posts view</h3>
{{#link-to-external "homePosts"}}App posts{{/link-to-external}}
<h4>Cloned post from parent store</h4>
<button {{action "stepOne"}}>Load step-one</button>
<button {{action "stepTwo"}}>Load step-two</button>
{{component dynamicRoute model=model}}
{{outlet}}
